{{!-- This is the main body of the home page --}}

<h1>Welcome to Our Tech Blog!</h1>

<div class="jumbotron">
  <h2>Welcome, dear reader!</h2>
  <p>Join us as we explore the world of technology, software development, and more!</p>
</div>

{{#each posts as |post|}}
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.summary}}</p>
    </div>
  </div>
{{/each}}

<div>
  <a href="/signup" class="btn btn-primary">Sign Up</a>
  <a href="/login" class="btn btn-secondary">Log In</a>
</div>